body{
    font-family:serif;
    /*background:url('../img/SR_RUIDOBASE.jpg');
    background-repeat: repeat;
    background-size:50px;*/
}

a{
    text-decoration:none;
    color:#000;
}

img.logotipo-header {
    max-height: 80px;
    margin-top:0.5%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 99.8%;
    text-align:center;
    height:100px;
    /*border-top:3px solid #000;
    border-left:3px solid #000;
    border-right:3px solid #000;*/
    background:#FFF;
    z-index:9;
}

.footer{
    position:fixed;
    bottom:0;
    left:0;
    width:99.8%;
    height:55px;
    text-align:center;
    font-size: 12px;
    /*border-bottom:3px solid #000;
    border-left:3px solid #000;
    border-right:3px solid #000;*/
    background:#FFF;
}

.menu-footer{
    width:100%;
    padding-bottom:1%;
    padding-top:0.5%;
}

.item-menu-footer{
    float:left;
    width: 4%;
    text-align:center;
}

.item-menu-footer-blank{
    float:left;
    width: 40%;
    text-align:center;
}

.item-menu-footer > a{
    text-decoration:none;
    color:#000000;
    transition-duration:1s;
}

.item-menu-footer > a:hover{
    text-decoration:none;
    color:#000000;
    transition-duration:1s;
}

.content{
    position: relative;
    left:-0.3%;
    height:90%;
    width:100.4%;
    /*border-left:3px solid #000;
    border-right:3px solid #000;*/
    transition-duration:1.5s;
}

.flex{
    align-items: center;
    display: flex;
}

.content-home{
    position: relative;
    /*padding-top:8%;*/
    left:-0.3%;
    height:90%;
    width:100.4%;
    overflow-y:auto;
    /*border-left:3px solid #000;
    border-right:3px solid #000;*/
    transition-duration:1.5s;
}

.content-project{
    display:initial !important;
}

.main-menu{
    float:left;
    width:100%;
    /*margin-top:20%;*/
    font-size:50px;
    text-align:center;
}

.item-main-menu{
    float:left;
    width:45%;
}

.item-main-menu-izq{
    padding-right:5%;
    text-align:right;
}

.item-main-menu-drc{
    padding-left:5%;
    text-align:left;
}

.txt-section-left{
    font-size: 50px;
    text-align: left;
    margin-left: -50px;
    opacity: 0.1;
    z-index: 9;
    color: #000;
}

.arrow-back{
    font-size: 50px;
    position: fixed;
    left: 1%;
    margin-top:5px;
    z-index:10;
}

img.arrow-back-icon{
    float:left;
    max-height:50px;
}

.content-txt{
    text-align: center;
}

.services-list > div{
    font-size: 20px;
    height:50px;
}

/*.services-list > div:nth-child(1){
    font-size: 8px;
    height:50px;
}*/

.services-list{
    margin:0 auto;
}

.portfolio-list > div{
    font-size: 20px;
    height:50px;
}

.portfolio-list > div:nth-child(1){
    font-size: 12px;
    height:50px;
}

.portfolio-list{
    margin:0 auto;
}

.projects-list > div{
    font-size: 20px;
    height:50px;
}

.projects-list > div:nth-child(1){
    font-size: 12px;
    height:50px;
}

.projects-list{
    margin:0 auto;
}

.projects-item{
    margin:0 auto;
}

.tituloProyecto{
    font-weight: bold;
    font-size: 20px;
    padding-top:5%;
}

.dataProyecto{
    padding-top:1%;
    padding-bottom:5%;
    text-align:center;
    font-size:12px;
}

.item-img-project{
    margin-bottom:1%;
}

.img-principal-proyecto{
    max-width:45%;
}

.img-v{
    float:left;
    width:50%;
}

.img-h{
    float:left;
    width:100%;
}

.img-v > img{
    width:98%;
    margin-left:0.5%;
    margin-right:0.5%;
}
.img-h > img{
    width:100%;
}

.img-content{
    width:45%;
    margin:0 auto;
}

.goBack{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    z-index:99999;
}

@media(max-width:1199px){
    .img-v{
        float:left;
        width:100%;
    }   

    .img-v > img{
        width:100%;
        margin-left:0%;
        margin-right:0%;
    }

    .item-menu-footer{
        float:left;
        width: 10%;
        text-align:center;
    }
    
    .item-menu-footer-blank{
        float:left;
        width: 25%;
        text-align:center;
    }
}